h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fccbf3;
}

body {
  background-color: #070707;
  color: #e8f1f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#meme-image {
  max-height: 80vh;
  object-fit: contain;
}
